{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "config": "./src/config",
          "constants": "./src/constants",
          "controllers": "./src/controllers",
          "middleware": "./src/middleware",
          "database": "./src/database",
          "routes": "./src/routes",
          "utils": "./src/utils"
        }
      }
    ],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/syntax-dynamic-import",
    "@babel/transform-async-to-generator"
  ]
}
